{% extends 'main/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="features text-center">
        <h1>Добро пожаловать в нашу компанию!</h1>
        <p>Мы рады приветствовать вас на нашем веб-сайте. Наша компания занимается предоставлением высококачественных услуг и продуктов для удовлетворения потребностей наших клиентов. Мы стремимся к инновациям и совершенству, предлагая лучшие решения на рынке.</p>
        <a href="{% url 'about' %}" class="btn btn-warning mt-3">Узнать больше о нас</a>
    </div>
{% endblock %}
